@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Our partners Animation */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    align-items: center;
    gap: 100px;
    width: fit-content;
    animation: marquee 20s linear infinite;
  }

  /* Body Styles */
  body {
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; */
  }
}
